.scroll-icon {
  width: 30px;
  height: 70px;
  border: 2px solid white;
  border-radius: 1000px;
  position: relative;
}

.scroll-icon::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: white;
  border-radius: 1000px;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  animation: 1.7s ease-in-out infinite scroll-animation;
}

@keyframes scroll-animation {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    top: 40px;
  }
  100% {
    opacity: 0;
    top: 40px;
  }
}
